@model MVC.Models.mvcStudentModel
@{
    ViewBag.Title = "AddOrEdit";
}

<h2>Add/Edit Student</h2>
<div class="form-buddy">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.StudentID)
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new {@class="text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age) 
            @Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address)
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn button" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    </div>

        
    }

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    }

